body{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items: center;

}

.box {
  width: 500px;
  height: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}

.box::before,
.box::after {
  content: "";
  background: teal;
}

.box::before {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.box::after {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.box {
  background: linear-gradient(teal, teal) left bottom/48% 48% no-repeat,
              linear-gradient(teal, teal) right bottom/48% 48% no-repeat;
}